<title>Yugen Project</title>
<h2>Bank Loan Defaulter</h2>

<form action="/login" method="POST">
  <input type="number" name="duration" placeholder="duration">
  <input type="number" name="day" placeholder="day">
  <input type="number" name="age" placeholder="age">
  <input type="number" name="balance" placeholder="balance">
  <input type="number" name="pdays" placeholder="pdays">
  <input type="number" name="poutcome_success" placeholder="poutcome_success">
  <input type="number" name="campaign" placeholder="campaign">
  <input type="submit" value="Submit">
</form>
