<title>Capstone Project</title>
<h2>Please enter a valid number for below fields excluding string values</h2>

<form action="/login" method="POST">
   <input type="text" name="duration" placeholder="duration">
  <input type="text" name="day" placeholder="day">
  <input type="text" name="age" placeholder="age">
  <input type="text" name="balance" placeholder="balance">
  <input type="text" name="pdays" placeholder="pdays">
  <input type="text" name="poutcome_success" placeholder="poutcome_success">
  <input type="text" name="campaign" placeholder="campaign">
  <input type="submit" value="Submit">
</form>
